*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: gray;
    height: 700px;
    width: 100%;
}
.toDoCreator{
    position: relative;
    top:150px;
    left:150px;
    background-color: lightseagreen;
    height: 50px;
    width: 400px;
}
.toDoDisplay{
    position: relative;
    top:160px;
    left: 150px;
    background-color: lightsalmon;
    width: 400px;
    
}

#input{
    margin: 7px;
    width: 70%;
    height: 30px;
    font-size: 20px;
    color: dodgerblue;
}

#btn{
    
    margin: 7px;
    margin-left: 0;
    width: 20%;
    height: 33px;
    color: orangered;
    font-size: 20px;
}